.movie-card {
    cursor: pointer;
    height: 45%;
    width: 30%;
    border: black 1px solid;
    margin-top: 2%;
}

.image-container {

    height: 100%;
    width: 100%;
    z-index: 1;
}

.movie-description {
    color: white;
    z-index: 2;
}

.movie-card:hover {
    z-index: -1;
}